<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> -->
    <!-- <script src="//code.jquery.com/jquery-1.10.2.js"></script> -->
    <style>
      .connectedSortable {
        border: 1px solid #eee;
        width: 20%;
        min-height: 20px;
        /*list-style-type: none;*/
        margin: 0;
        padding: 0 0 0 1em ;
        float: left;
        margin-right: 5px;
      }
      .connectedSortable li {
        margin: 0 5px 5px 5px;
        padding: 5px;
        font-size: 1em;
        width: 120px;
      }
  </style>
  </head>
  <body>
    <ol data-status="BL" class="connectedSortable">
      Backlog
      {%for item in backlog%}
      <li class="tasks" data-id="{{item.id}}">{{item.title}}</li>
      {%endfor%}
    </ol>
    <ol data-status="RD" class="connectedSortable"  data-id="{{item.id}}">
      Ready
      {%for item in ready%}
      <li class="tasks">{{item.title}}</li>
      {%endfor%}
    </ol>
    <ol data-status="DO" class="connectedSortable">
      Doing
      {%for item in doing%}
      <li class="tasks"  data-id="{{item.id}}">{{item.title}}</li>
      {%endfor%}
    </ol>
    <ol data-status="DN" class="connectedSortable">
      Done
      {%for item in done%}
      <li class="tasks"  data-id="{{item.id}}">{{item.title}}</li>
      {%endfor%}
    </ol>
    <script type="text/javascript">
      $( ".connectedSortable" ).sortable({
        connectWith: ".connectedSortable"
      });
      $( ".tasks" ).disableSelection();
      $( ".connectedSortable" ).droppable({
        drop: function(event, ui){
          if ui.draggable.nextElementSibling != null
          {
            ui.draggable.put({})
          }

        }
      })
    </script>
    <!-- <br style="clear:both"> -->
  </body>
</html>
